<section class="section section--white">
  <div class="section__inner">
    <h2>Testing Hub</h2>
    <p>Navigate to individual component testing pages below.</p>
    <nav aria-label="Testing pages" style="margin-block-start: 1.5rem;">
      <ul class="testing-links">
        <li>
          <a routerLink="/testing-alerts" class="testing-link">Testing Alerts</a>
        </li>
        <li>
          <a routerLink="/testing-accordians" class="testing-link">Testing Accordions</a>
        </li>
        <li>
          <a routerLink="/testing/testing-cards" class="testing-link">Testing Cards</a>
        </li>
        <li>
          <a routerLink="/testing/testing-banner" class="testing-link">Testing Banner</a>
        </li>
        <li>
          <a routerLink="/testing-text-area" class="testing-link">Testing Text Area</a>
        </li>
        <li>
          <a routerLink="/testing-checkbox" class="testing-link">Testing Checkbox</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
