<section class="section section--cream page-placeholder">
  <div class="section__inner">
    <p class="eyebrow">Learning domain</p>
    <h1>Lorem Ipsum Dolor Sit</h1>
    
    <div class="icon-large">
      <img src="assets/img/mathematics-numeracy-area.svg" alt="Area icon - measuring surface space in square units">
    </div>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </p>
  </div>
</section>

<style>
.icon-large {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.5rem;
}

.icon-large img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
</style>
