<div [class]="accordionClasses">
  <h2 [id]="headingId" tabindex="-1">
    <button
      type="button"
      class="qld__accordion__title js-qld__accordion"
      [attr.aria-expanded]="isOpen"
      [attr.aria-controls]="bodyId"
      (click)="toggle()"
    >
      <span class="qld__accordion__title-text">{{ title }}</span>
      <i class="fa-solid fa-chevron-down qld__accordion__icon" aria-hidden="true"></i>
    </button>
  </h2>
  <div
    class="qld__accordion__body"
    [class.qld__accordion__body--closed]="!isOpen"
    [class.qld__accordion__body--open]="isOpen"
    [id]="bodyId"
    role="region"
    [attr.aria-labelledby]="headingId"
  >
    <div class="qld__accordion__body-wrapper">
      <ng-content></ng-content>
    </div>
  </div>
</div>
