<section class="section section--white klpt-step">
  <div class="section__inner">
    <p>The Learning observation tool within the KLPT generates meaningful data and helps to inform ‘where to next’ in the progression of learning for individual children.  It does this by helping teachers and educators identify observable behaviours linked to each learning domain. The tool generates a learning statement, with the option to add context, reflections, and strategies to support each child's ongoing progress. The learning observation tool is a point in time assessment for children’s learning. It is not for summative assessment or ranking children and should not involve testing or removing children from their everyday play and learning.</p>
  
     <h2 class="home-video__title"></h2>

      <div class="home-video">
        <app-youtube-player
          title="Using the learning observation tool"
          description=""
          youtubeUrl="https://www.youtube.com/watch?v=KL7zbJDdCTA"
          [transcript]="usingKlptTranscript"
        >
        </app-youtube-player>
      </div>

     <a class="factsheet-link" href="assets/content/pdfs/klpt-langlit-factsheet.pdf" rel="noopener" type="application/pdf">
      <i class="fa-solid fa-file-arrow-down" aria-hidden="true"></i>
      <span>Download fact sheets (PDF, 0.9MB)</span>
    </a>
      
    <div class="klpt-step__actions">
      <a class="button button--primary" routerLink="/klpt-learning-observation-tool/sessions">Launch tool</a>
    </div>
  </div>
</section>
