<section class="section section--cream standard-hero about-hero">
  <div class="section__inner">
    <app-breadcrumb class="domain-hero__breadcrumbs" [items]="breadcrumbs" />

    <h1>About</h1>   
  </div>
</section>

<section class="section section--white standard-content about-content">
  <div class="section__inner">
    <article class="about-content__section">
      <h2>KLPT development</h2>
      <p>
        The Kindergarten Learning Progression Toolkit (KLPT) has been developed through a rigorous, evidence-based process in collaboration with the early childhood sector.  
      </p>
      <p>
        Beginning in 2022, the Queensland Department of Education has worked with the Australian Council for Educational Research (ACER), teachers, educators and sector stakeholders to design, test and refine the toolkit. Its development has been informed by research on the foundational skills that support children’s learning and aligned with the Early years learning framework (EYLF) V2.0 and the Queensland kindergarten learning guideline (QKLG) 2024.  
      </p>
      <p>
        Ongoing consultation with sector stakeholders has helped ensure the toolkit is practical, inclusive and responsive to the diverse strengths and needs of Queensland children, teachers and educators.  
      </p>
      <p>
        The result is a research-informed toolkit that supports high-quality observation, assessment and planning in kindergarten contexts.  
      </p>
    </article>

    <article class="about-content__section">
      <h2>Preschool Outcomes Measure</h2>
      <p>The Preschool Outcomes Measure (POM) is a key reform of the <a href="https://federalfinancialrelations.gov.au/agreements/preschool-reform-agreement" rel="noopener">Preschool Reform Agreement</a> being jointly progressed by the Australian and state and territory governments. </p>
      
      <p>As part of this reform, the Australian Government has funded and facilitated the development of: </p>
      <ul>
        <li><b>new national learning progressions</b> in 2 age-appropriate domains: executive function; and oral language and literacy.  </li>
        <li><b>a new national formative assessment tool</b> (the national tool) to support teachers and educators to understand a child’s learning and development against the agreed learning progressions.</li>
        <li><b>professional learning materials</b> to support teachers and educators to apply the national tool effectively. Some elements may also be adapted as a more general resource to help teachers and educators support children’s learning and development. </li>
        <li><b>alignment criteria</b> and a process guide to align existing tools against the new national learning progressions, to ensure national consistency. These have been used for the alignment of the Victorian Early Years Assessment and Learning Tool and the Queensland KLPT. </li>
      </ul>

      <p>Queensland is releasing the KLPT as its formative assessment tool under the POM, contributing to the national agenda by providing an evidence-based resource that supports Queensland teachers and educators to observe, interpret, and respond to children’s learning.</p>

      <p>More information on the <a href="https://www.education.gov.au/early-childhood/about/preschool/preschool-outcomes-measure" rel="noopener">POM</a> is available on the Australian Government's website.</p>
    </article>

    <article class="about-content__section">
      <h2>Curriculum and framework alignment </h2>
      <p>
        The KLPT aligns with the QKLG 2024 and the EYLF V2.0. The EYLF V2.0 is a national framework for early childhood education. It supports quality and consistency for children birth to 5 years across all early learning settings. The QKLG 2024 is a holistic framework for Queensland kindergarten programs. It guides teachers’ and educators’ professional practice and aligns to the EYLF V2.0.
      </p>
      <p>
        The KLPT provides incremental steps in children’s learning and development. These progressions help teachers and educators assess and reflect on areas of growth. They highlight areas of strength and show opportunities for next steps in learning across the 5 learning domains. The KLPT helps teachers and educators make strength-based, intentional decisions aligned with the curriculum to support positive transitions. 
      </p>
    </article>

    <article class="about-content__section">
      <h2>Learning progression tables</h2>
      <p>
        These learning progression tables represent the observable behaviours contained within the learning observation tool. Developed by ACER, they have been refined through expert reviews, pre-pilot testing, sector reviews and psychometric validation to ensure they are valid, inclusive and reflect the full range of children’s abilities. 
      </p>
      <p>
        They are designed to support assessment that recognises and builds on each child’s strengths. They are not designed to compare or rank children. There is no expectation that a kindergarten child should demonstrate a particular observable behaviour, instead all progress should be celebrated. 
      </p>
      <ul>
        <li><a href="assets/content/pdfs/language-literacy-progression.pdf" rel="noopener noreferrer">language and literacy progression (PDF, 893KB)</a></li>
        <li><a href="assets/content/pdfs/executive-function-progression.pdf" rel="noopener noreferrer">executive function progression (PDF, 614KB)</a></li>
      </ul>   
    </article>
  </div>
</section>

