<section class="section section--cream page-placeholder">
  <div class="section__inner">
    <p class="eyebrow">Learning domain</p>
    <h1>Languages and Literacy</h1>
    <p>
      Placeholder content for vocabulary, phonological awareness, early reading,
      writing, and communication progressions.
    </p>
  </div>
</section>

<section class="section section--white">
  <div class="section__inner">
    <h2>Home Languages</h2>
    <div class="videos-row">
      <app-youtube-player
        title="KLPT-home languages"
        description="KLPT Home languages"
        [youtubeUrl]="'https://www.youtube.com/watch?v=XneIolMk42s'"
      >
    </app-youtube-player>
    </div>
  </div>
    <div class="section__inner">
    <h2>Language and Literacy</h2>
    <p>
      The language and literacy progression describes children’s ability to communicate using spoken word, sign language, or AAC. 
      This section supports you to observe and reflect on a child’s understanding of language and ability to express themselves effectively. The focus of this progression is on communication skills and literacy-related language, including understanding written texts and narrative structures. Watch the video or read the fact sheet below to understand the elements of language and literacy, and how to observe these in everyday contexts. 
    </p> 
    <div class="videos-row">
      <app-youtube-player
        title="KLPT-learning areas"
        description="KLPT Learning areas"
        [youtubeUrl]="'https://www.youtube.com/watch?v=oyQmlHPgKPE'"
      >
      </app-youtube-player>
    </div>
  </div>
</section>

