<section class="section section--cream page-placeholder">
  <div class="section__inner">
    <p class="eyebrow">Learning domain</p>
    <h1>Quantity</h1>
    
    <div class="icon-large">
      <img src="assets/img/mathematics-numeracy-quantity.svg" alt="Quantity icon - grouping and comparing collections of objects">
    </div>
    
    <p>
      Understanding more and less, developing comparative language, and exploring 
      quantity through hands-on exploration and grouping activities.
    </p>
  </div>
</section>

<style>
.icon-large {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.5rem;
}

.icon-large img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
</style>
