<section class="section section--cream page-placeholder">
  <div class="section__inner">
    <p class="eyebrow">Learning domain</p>
    <h1>Ut Enim Ad Minim</h1>
    
    <div class="icon-large">
      <img src="assets/img/mathematics-numeracy-capacity.svg" alt="Capacity icon - measuring how much containers hold">
    </div>
    
    <p>
      Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      nulla pariatur excepteur sint occaecat cupidatat.
    </p>
  </div>
</section>

<style>
.icon-large {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.5rem;
}

.icon-large img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
</style>
